script(src='js/purl.js')
script.

 var convertIntoImgTag = function(photo){
  var src='<img class="inRibbon" src="'+photo.url_sq+'"/>';
  return src;
 };

 var jsonFlickrApi = function(x){return x;};
 var allPhotos = function(inputText){
   var json = eval(inputText);
   return json.photos.photo; 
 };

 var injectInARibbon = function(ribbon){
   return function(imgTag){
    ribbon.append(imgTag);
  }
 };

 var theFlickrUrl = function(left, right, top, bottom){
  var url='http://www.flickr.com/services/rest/?method=flickr.photos.search&api_key=921048f2d4f5b8973b78d7820271b25f&format=json&extras=owner_name,geo,media,url_sq,url_t,url_s,url_q,url_m,url_n,url_z,url_c,url_l,url_o&bbox='+left+','+right+','+top+','+bottom; 
 return url;
 }

 $(document).ready(
  function() {
   var myRibbon = $('#ribbon');
   var injectInMyRibbon = injectInARibbon(myRibbon);

   var left= $.url().param("left"), right= $.url().param("right"), top=$.url().param("top"), bottom=$.url().param("bottom");
   var restUrl = theFlickrUrl(left,right,top,bottom);
   $.ajax(restUrl).complete(
    function(xhr){
     allPhotos(xhr.responseText).map(convertIntoImgTag).forEach(injectInMyRibbon);
    });
  });
