html
 head
  meta(http-equiv="refresh",content="2;url=http://localhost/sparql2mapWidget/flickrRibbon/index.html")
  link(rel='stylesheet', href='css/my.css')
  script(src='http://code.jquery.com/jquery-2.0.3.min.js')
  include includes/horizontalScroll
  include includes/zoomThumbnail
 body
  div#ribbon.ribbon()
   - for (var i = 0; i < 10; ++i)
    img.inRibbon(src="http://farm3.staticflickr.com/2821/9443556302_341621e5d3_s.jpg")
