html
 head
  //meta(http-equiv="refresh",content="2;url=http://localhost/sparql2mapWidget/flickrRibbon/index.html")
  link(rel='stylesheet', href='css/my.css')
  script(src='http://code.jquery.com/jquery-2.0.3.min.js')
  include includes/injectImgsWithJQuery
  include includes/horizontalScroll
  include includes/zoomThumbnail
  script.
   $(window).load(function() {
    var left= value("left"), right= value("right"), top=value("top"), bottom=value("bottom");
    var ribbon = $('#ribbon');
    horizontalScroll(ribbon); 
    findFlickrPhotos(left, right, top, bottom).then(convertIntoImgTag).then(injectInElement(ribbon)).then(oversize);
   })
  script(src='http://localhost:35729/livereload.js')
 body
  div#ribbon.ribbon()
