script.
 
 function exportDom(event) {
   var title = $.urlParam('articleTitle');
   var url = $.urlParam('articleUrl');
   
   var html = $("html").clone();
   html.find("#map3d").empty();
   $.ajax({
     url : url +'dom/' + title,
     type : "PUT",
     data : html.html(),     
     processData: false,
     contentType : false,
     headers: {
     'Content-Type': 'text/html'
    }
   }).done(function(msg) {
    alert("Dom save at uri : " + url +'dom/' + title );
   });
 }