script.
 
 function exportDom(event) {
   var url;
   if(window.location.href.indexOf('dom/') != -1){ // we are already on the saved DOM page
    url  = window.location.href;
   } else {                                        // we come from the bookmarklet
    var title = $.urlParam('articleTitle');   
    var articleUrl = $.urlParam('articleUrl');
    url  = articleUrl +'dom/' + title;
   };
   var html = $("html").clone();
   html.find("#map3d").empty();
   $.ajax({
     url : url,
     type : "PUT",
     data : html.html(),
     processData: false,
     contentType : false,
     headers: {
     'Content-Type': 'text/html'
    }
   }).done(function(msg) {
    if(window.location.href !== url)
      window.location.href=url;
   }).fail(function(error){alert('Error: '+error)});
 }
