script.
  var appendToJson = function(json){
   return function(unusedVar, key, value){
    if(json[key]){
     if(json[key] instanceof Array){
      json[key].push(value);
     }else{
      json[key] = [json[key], value];
     }
    }else{
     json[key] = value;
    }
   }
  }
  
  var vars = {};
  var appendToVars = appendToJson(vars);

  window.location.href.replace(/[?&]+([^=&#]+)=([^&#]*)/gi, appendToVars);
  var name=decodeURIComponent(vars['name']);
  if(vars['long'] && vars['lat']){
   window.Bus.publish('LongLatCalculated', {"long": vars['long'], "lat": vars['lat']});
   window.Bus.publish('NameCalculated', name);
  }
