script.
  var findFlickrComments = function(id){
   var askFlickrForComments = 'http://www.flickr.com/services/rest/?method=flickr.photos.comments.getList&api_key=921048f2d4f5b8973b78d7820271b25f&format=json&photo_id='+id; 
 
   var jsonFlickrApi = function(x){return x;};
   var allComments = function(responseBody){
    var json = eval(responseBody);
    return json; 
   };
 
   var defer = $.Deferred();
 
   $.ajax(askFlickrForComments).complete(
    function(xhr){
     defer.resolve(allComments(xhr.responseText));
    });
   return defer;
  }
 
  var findFlickrPhotos = function(left,right,top,bottom){
   var askFlickrWithBoundaries = 'http://www.flickr.com/services/rest/?method=flickr.photos.search&api_key=921048f2d4f5b8973b78d7820271b25f&format=json&extras=owner_name,geo,media,url_sq,url_t,url_s,url_q,url_m,url_n,url_z,url_c,url_l,url_o&bbox='+left+','+bottom+','+right+','+top; 
 
   var jsonFlickrApi = function(x){return x;};
   var allPhotos = function(inputText){
    var json = eval(inputText);
    return json.photos.photo; 
   };
 
   var defer = $.Deferred();
 
   $.ajax(askFlickrWithBoundaries).complete(
    function(xhr){
     defer.resolve(allPhotos(xhr.responseText));
    });
   return defer;
  }
