script(src='http://brandonaaron.github.io/jquery-mousewheel/jquery.mousewheel.js')
script.

 var horizontalScroll = function(element){
  element.mousewheel(
    function(ev,delta)
    {
     this.scrollLeft -= (delta * 100);
     event.preventDefault()
    });
 };
