script(src='js/purl.js')
script.

  var convertIntoImgTag = function(photos){
    var defer = $.Deferred();
    var imgs = photos.map(function(photo){return '<img class="inRibbon" src="'+photo.url_sq+'"/>'}); 
    defer.resolve(imgs);
    return defer;
  };
 
  var injectInElement = function(element){
    return function(newTags){
     var defer = $.Deferred();
     var tags = [];
     newTags.forEach(function(newTagText){var newTag = $(newTagText);tags.push(newTag);element.append(newTag)});
     defer.resolve(tags);
     return defer;
   }
  };
 
  var findFlickrPhotos = function(left,right,top,bottom){
   var askFlickrWithBoundaries = 'http://www.flickr.com/services/rest/?method=flickr.photos.search&api_key=921048f2d4f5b8973b78d7820271b25f&format=json&extras=owner_name,geo,media,url_sq,url_t,url_s,url_q,url_m,url_n,url_z,url_c,url_l,url_o&bbox='+left+','+right+','+top+','+bottom; 
 
   var jsonFlickrApi = function(x){return x;};
   var allPhotos = function(inputText){
    var json = eval(inputText);
    return json.photos.photo; 
   };
 
   var defer = $.Deferred();
 
   $.ajax(askFlickrWithBoundaries).complete(
    function(xhr){
     defer.resolve(allPhotos(xhr.responseText));
    });
   return defer;
  }
 
  var value = function(parameter) { 
   return $.url().param(parameter)
  };

  window.Bus.subscribe('BordersCalculated', function(leftRightTopBottom){
     var left= leftRightTopBottom.left, right= leftRightTopBottom.right, top=leftRightTopBottom.top, bottom=leftRightTopBottom.bottom;
     var ribbon = $('#ribbon');
     horizontalScroll(ribbon); 
     findFlickrPhotos(left, right, top, bottom).then(convertIntoImgTag).then(injectInElement(ribbon)).then(oversize);
  });
