script(src='js/purl.js')
include zoomThumbnail.jade
include flickrApi.jade
script.

  var convertIntoImgTag = function(photos){
    var defer = $.Deferred();
    var imgs = photos.map(
     function(photo){
      return '<img class="inRibbon" src="'+photo.url_sq+'" id='+photo.id+' style="top: 0px; left: 0px; height: 75px; width: 75px;"/>'
     }
    ); 
    defer.resolve(imgs);
    return defer;
  };
 
  var injectInElement = function(element){
    return function(newTags){
     var defer = $.Deferred();
     var tags = [];
     newTags.forEach(function(newTagText){var newTag = $(newTagText);tags.push(newTag);element.append(newTag)});
     defer.resolve(tags);
     return defer;
   }
  };

  window.Bus.subscribe('BordersCalculated', function(leftRightTopBottom){
     var left= leftRightTopBottom.left, right= leftRightTopBottom.right, top=leftRightTopBottom.top, bottom=leftRightTopBottom.bottom;
     var ribbon = $('#ribbon');
     findFlickrPhotos(left, right, top, bottom).then(convertIntoImgTag).then(injectInElement(ribbon)).then(oversize({size: 10}));
  });
