script.
 window.Bus.subscribe('LongLatCalculated', function(longLat){
  $('longitude').text(longLat.long);
  $('latitude').text(longLat.lat);
  $('coordinates').text(longLat.long+','+longLat.lat+',0');
 });
 window.Bus.subscribe('LongLatCalculated', function(name){
   $('name').text(name);
 });
