script.
 function injectSelectedKmlInGE() {
    var kmlId=this.attributes.href.value;
    extractKmlString(kmlId).then(uppercaseKmlElements).then(sendToGE).then(removeOlderKml).then(setAsCurrentKml);
  }
 function calculateBorders() {
    var kmlId=this.attributes.href.value;
    var latlonbox = $("document groundoverlay latlonbox", document.getElementById(kmlId));
    window.Bus.publish('BordersCalculated', 
     { "left":$("west", latlonbox).text(),
      "right":$("east", latlonbox).text(),
      "top":$("north", latlonbox).text(),
      "bottom":$("south", latlonbox).text() }
    );
 }
 function linkLandsatImageToMainURI() {
    $('.satelliteImage').removeAttr("rel");
    $(this).attr('rel','http://toto/#illustratedByImage');
  }
 window.Bus.subscribe("Landsat parsed", function(){
  $('.satelliteImage').click(injectSelectedKmlInGE);
  $('.satelliteImage').click(calculateBorders);
  $('.satelliteImage').click(linkLandsatImageToMainURI);
 });

 function selectCorrespondingKml(kmlId) {
    extractKmlString(kmlId).then(uppercaseKmlElements).then(sendToGE).then(removeOlderKml).then(setAsCurrentKml);
    var latlonbox = $("document groundoverlay latlonbox", document.getElementById(kmlId));
    window.Bus.publish('BordersCalculated', 
     { "left":$("west", latlonbox).text(),
      "right":$("east", latlonbox).text(),
      "top":$("north", latlonbox).text(),
      "bottom":$("south", latlonbox).text() }
    );
 }
    

ul
 li(data-qrepeat='satelliteImage http://toto/#satelliteImage')
  table
   tr
    td(colspan='2')
     a.satelliteImage(href='#LXXXX')(data-qattr='resource satelliteImage|uri; href satelliteImage|http://toto/#fileid ,#')(onclick='selectCorrespondingKml(this.attributes.href.value);')
      span(data-qtext='satelliteImage|http://toto/#fileid') LXXXX
   tr
    td
     | Sensor:
     span(data-qtext='html satelliteImage|http://toto/#sensor') l0
    td
     | Date:
     span(data-qtext='html satelliteImage|http://toto/#when') 1011899
