ul
 li(data-qrepeat='satelliteImage http://toto/#satelliteImage')
  table
   tr
    td(colspan='2')
     a.satelliteImage(href='#LXXXX', data-qattr='href satelliteImage|http://toto/#fileid ,#')
      span(data-qtext='satelliteImage|http://toto/#fileid') LXXXX
   tr
    td
     | Sensor:
     span(data-qtext='html satelliteImage|http://toto/#sensor') l0
    td
     | Date:
     span(data-qtext='html satelliteImage|http://toto/#when') 1011899
