script.
 window.Bus.subscribe("Landsat parsed", function(){
  $('.satelliteImage').click(function() {
    var kmlId=this.attributes.href.value;
    extractKmlString(kmlId).then(uppercaseKmlElements).then(sendToGE).then(removeOlderKml).then(setAsCurrentKml);
  });
  $('.satelliteImage').click(function() {
    var kmlId=this.attributes.href.value;
    var latlonbox = $("document groundoverlay latlonbox", document.getElementById(kmlId));
    window.Bus.publish('BordersCalculated', 
     { "left":$("west", latlonbox).text(),
      "right":$("east", latlonbox).text(),
      "top":$("north", latlonbox).text(),
      "bottom":$("south", latlonbox).text() }
    );
  });
  $('.satelliteImage').click(function() {
    $('.satelliteImage').removeAttr("rel");
    $(this).attr('rel','http://toto/#illustratedByImage');
  });
 });

ul
 li(data-qrepeat='satelliteImage http://toto/#satelliteImage')
  table
   tr
    td(colspan='2')
     a.satelliteImage(href='#LXXXX')(data-qattr='resource satelliteImage|uri; href satelliteImage|http://toto/#fileid ,#')
      span(data-qtext='satelliteImage|http://toto/#fileid') LXXXX
   tr
    td
     | Sensor:
     span(data-qtext='html satelliteImage|http://toto/#sensor') l0
    td
     | Date:
     span(data-qtext='html satelliteImage|http://toto/#when') 1011899
