script(src='http://jquery.malsup.com/hoverpulse/jquery.hoverpulse.js')
script.

  var zoomableElements = function(options){
   return function(elements) { 
    elements.forEach( function(element){
      element.hoverpulse(options);
   }
  );}}

  var oversize = function(options){
   return function(elements){
    var defer = $.Deferred();
    zoomableElements(options)(elements);
    defer.resolve(elements);
    return defer;
   }
  };

 
