html
 body
  p
   | First install this bookmarklet (drag and drop it in your bookmark toolbar) 
   a(href='javascript: window.open("http://sitools.akka.eu:8185/?src="+(window.location.href))') View in Landsat
  p
   | Some usages are described in document: "6_Scénario Observation de la Terre/4_Screenshots_Illustrant_Les_Etapes_Du_Scenario-20130717.pptx"
   
