!!! true
html(version="XHTML+RDFa 1.0")
 head
  meta(http-equiv='Content-Type', content='text/xml; charset=ISO-8859-1')
  link(rel='stylesheet', href='css/my.css')
  style
  script(src='http://code.jquery.com/jquery-1.10.2.min.js')
  script(src='http://datao.zerezo.com/datao/underscore.js')
  script(src='http://green-turtle.googlecode.com/files/RDFa.1.2.0.js')
  script(src='http://datao.zerezo.com/distal.js')
  script(src='http://datao.zerezo.com/datao/n3.js')
  script(src='http://datao.zerezo.com/datao/myn3.js')
  script(type='text/javascript', src='https://www.google.com/jsapi')

  include includes/naiveEventBus.jade
  include includes/launchGoogleEarth.jade
  
  body(about='http://toto/#tutu')(prefix="http://toto/#")

    include includes/submitButton.jade
    div
     button(onClick='showRDFa()', type='button')
      | Show RDFa

    div(style='display: none;')
     include includes/landsatKml.jade

    #map3d(style='float:left; height: 500px; width: 70%;')

    div(style='float:left; width: 25%; height: 500px; overflow: auto')
     include includes/landsatImagesList.jade

   include includes/queryLandsatEndpoint.jade

   include includes/injectCoordinatesInLandsatKml.jade
   include includes/extractLongLatParameters.jade

  
    div#ribbon.ribbon()

   include includes/horizontalScroll.jade
    script.
     horizontalScroll($('#ribbon')); 
     
   include includes/injectImgsWithJQuery.jade

   script(src='http://localhost:35729/livereload.js')

